
<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/8693381/pexels-photo-8693381.jpeg" alt="post card image" class="card-image-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 101</small>

        <h5 class="mt-1"> How to build a website with Flic!!! </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque incidunt quia quasi debitis assumenda magni doloremque, dolor impedit reiciendis nisi eveniet quas, fugit repellat perferendis harum expedita eum delectus consequuntur.</p>
    
        <small class="bg-light text-warning text-center ml-3">Jan, 01, 2003</small>
    </div>
</div>
