<header class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container">
        <!-- Logo -->
        <a href="#" class="site-logo">Site Logo for Header</a>
        
        <!-- Subscription Dropdown -->
        <div class="d-flex gap-2">
            <div class="dropdown">
                <button class="btn btn-info btn-theme" type="button" id="subscribeDropdown" 
                        data-toggle="dropdown" aria-expanded="false">
                    Subscribe
                </button>
                <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="subscribeDropdown" style="min-width: 300px;">
                    <h6 class="dropdown-header">Subscribe to Our Newsletter</h6>
                    <app-subscription-form></app-subscription-form>
                </div>
            </div>
            
            <!-- User Authentication -->
            <app-user-auth></app-user-auth>
        </div>
    </div>
</header>
