<footer>
    <!-- Footer image displayed at full height -->
    <div *ngIf="activeFooterImage" class="footer-image-container">
        <img [src]="activeFooterImage.url" alt="Site Footer" class="footer-image-full">
        <!-- Overlay content on top of image -->
        <div class="footer-content-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="site-logo">{{ siteText.footerText }}</div>
                        <div>
                            <ul class="nav justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/terms">Terms and Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Default footer when no image is active -->
    <div *ngIf="!activeFooterImage" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">{{ siteText.footerText }}</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/terms">Terms and Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>